[Unit]
Description=POWER METER
Documentation=http://www.vovcak.com
After=network.target

[Service]
Environment=NODE_PORT=3000
Type=simple
User=root
ExecStart=/root/app/node-server.sh start
Restart=on-failure

[Install]
WantedBy=multi-user.target